.card {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 249, 249);
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
    margin-top: 5px;
    border-radius: 10px;
    border: .5px solid rgb(224, 228, 224);
    width: 35rem;
    font-size: 18px;
}

.card:hover {
    cursor: pointer;
    background-color: #ffffff;
    border:1px solid rgb(39, 153, 39);
}