CONNECTION_PROFILE=<path_to_connection_profile>
DRIVER_CONFIG=<path_to_config_json>
RELAY_ENDPOINT=<relay-hostname>:<relay-port>
RELAY_TLS=false
RELAY_TLSCA_CERT_PATH=<path_to_tls_ca_cert_pem_for_relay>
NETWORK_NAME=<network-name>
DRIVER_PORT=<driver-server-port>
DRIVER_TLS=false
DRIVER_TLS_CERT_PATH=<path_to_tls_cert_pem_for_driver>
DRIVER_TLS_KEY_PATH=<path_to_tls_key_pem_for_driver>
INTEROP_CHAINCODE=<interop-chaincode-name>
DB_PATH=driverdbs
WALLET_PATH=
TLS_CREDENTIALS_DIR=<dir-with-tls-cert-and-key>
DOCKER_IMAGE_NAME=ghcr.io/hyperledger-labs/weaver-fabric-driver
DOCKER_TAG=1.4.0
EXTERNAL_NETWORK=<docker-bridge-network>
COMPOSE_PROJECT_NAME=<docker-compose-project-name>
COMPOSE_PROJECT_NETWORK=<docker-compose-project-network>
