CONNECTION_PROFILE=<PATH-TO-WEAVER>/tests/network-setups/fabric/shared/network1/peerOrganizations/org1.network1.com/connection-org1.json
RELAY_ENDPOINT=localhost:9085
RELAY_TLS=false
RELAY_TLSCA_CERT_PATH=path_to_tls_ca_cert_pem_for_relay
DRIVER_ENDPOINT=localhost:9090
DRIVER_TLS=false
DRIVER_TLS_CERT_PATH=path_to_tls_cert_pem_for_driver
DRIVER_TLS_KEY_PATH=path_to_tls_key_pem_for_driver
NETWORK_NAME=network1
DRIVER_CONFIG=
INTEROP_CHAINCODE=interop
MOCK=false
DB_PATH=driverdbs
#WALLET_PATH=<PATH-TO-WEAVER>/samples/fabric/fabric-cli/src/wallet-network1
WALLET_PATH=<PATH-TO-WEAVER>/core/drivers/fabric-driver/wallet-network1
DEBUG=true
LEVELDB_LOCKED_MAX_RETRIES=
LEVELDB_LOCKED_RETRY_BACKOFF_MSEC=
ENABLE_MONITOR=false
MONITOR_SYNC_PERIOD=
MEMBER_CREDENTIAL_FOLDER=<PATH-TO-WEAVER>/samples/fabric/fabric-cli/src/data/credentials
CONFIG_PATH=<PATH-TO-WEAVER>/samples/fabric/fabric-cli/config.json
DEFAULT_APPLICATION_CHAINCODE=simpleassettransfer
REMOTE_CONFIG_PATH=<PATH-TO-WEAVER>/samples/fabric/fabric-cli/remote-network-config.json
CHAINCODE_PATH=<PATH-TO-WEAVER>/samples/fabric/fabric-cli/chaincode.json
