/node_modules
/out
/protos
/protos-js
.env
/fabric-protos
package-lock.json
.npmrc
driverdbs
cacti-weaver-sdk-fabric
wallet-network1/*.id
!wallet-network1/relay.id
wallet-network2/*.id
!wallet-network2/relay.id
satp_info.txt