.home {
    font-weight: 700;
    margin:5rem;
    font-size: 3rem;
    color:rgb(14, 87, 32);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.home-icon {
    font-size: 20rem;
    color:rgb(194, 202, 194);
}