NETWORK_NAME="Corda_Network"
CORDA_HOST="localhost"
CORDA_PORT="10006"
NODES_LIST="PartyA"
MEMBER_CREDENTIAL_FOLDER="clients/src/main/resources/config"
BASE_NODE_PATH="<PATH-TO-WEAVER>/tests/network-setups/corda/dev/Corda_Network/build/nodes/"
REMOTE_FLOW="localhost:10006#com.cordaSimpleApplication.flow.GetStateByKey:*"
LOCAL_FLOW="localhost:10006#com.cordaSimpleApplication.flow.GetStateByKey:*"
