**/node_modules/**
**/dist/**
**/build/** 
docs/*
examples/cactus-example-carbon-accounting-frontend/www/
examples/cactus-example-supply-chain-frontend/www/
weaver/core/identity-management/iin-agent/out/
weaver/common/protos-js/build/
weaver/common/protos-js/**/*_pb.js

**/src/main/typescript/generated/proto/**
**/src/main/typescript/generated/wasm-pack/**

examples/cactus-common-example-server/src/main/typescript/business-logic-plugin/BusinessLogicBase.ts
examples/cactus-common-example-server/src/main/typescript/business-logic-plugin/LedgerOperation.ts
examples/cactus-common-example-server/src/main/typescript/business-logic-plugin/app.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/TransactionManagement.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/routes/login.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/util/BLPRegistry.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/util/ConfigUtil.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/util/ContractInfoHolder.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/util/LPInfoHolder.ts
examples/cactus-common-example-server/src/main/typescript/routing-interface/util/RIFUtil.ts
examples/cactus-common-example-server/src/main/typescript/verifier/DriverCommon.ts
examples/cactus-common-example-server/src/main/typescript/verifier/Verifier.ts

examples/cactus-common-example-server/src/main/typescript/verifier/VerifierFactory.ts
examples/cactus-common-example-server/src/test/typescript/unit/Verifier.test.ts

weaver/common/policy-dsl/index.js
weaver/common/policy-dsl/parser/PolicyListener.js
weaver/common/policy-dsl/parser/PolicyParser.js
weaver/common/policy-dsl/test/MyErrorListener.js
weaver/common/policy-dsl/test/MyParseTreeVisitor.js
weaver/common/protos-js/driver/driver_grpc_pb.js
weaver/common/protos-sol/solidity-protos/soltest/test/TestFixture.js
weaver/common/protos-sol/solidity-protos/soltest/migrations/1_deploy_contract.js
weaver/core/drivers/fabric-driver/server/dbConnector.ts
weaver/core/drivers/fabric-driver/server/events.ts
weaver/core/drivers/fabric-driver/server/fabric-code.ts
weaver/core/drivers/fabric-driver/server/listener.ts
weaver/core/drivers/fabric-driver/server/server.ts
weaver/core/drivers/fabric-driver/server/tests.ts
weaver/core/drivers/fabric-driver/server/utils.ts
weaver/core/drivers/fabric-driver/server/walletSetup.ts
weaver/core/identity-management/iin-agent/src/common/ledgerBase.ts
weaver/core/identity-management/iin-agent/src/common/utils.ts
weaver/core/identity-management/iin-agent/src/fabric-ledger/connector.ts
weaver/core/identity-management/iin-agent/src/fabric-ledger/networkUtils.ts
weaver/core/identity-management/iin-agent/src/fabric-ledger/walletUtils.ts
weaver/core/identity-management/iin-agent/src/protocols/externalOperations.ts
weaver/core/identity-management/iin-agent/src/protocols/localOperations.ts
weaver/core/identity-management/iin-agent/src/server.ts
weaver/core/identity-management/iin-agent/test/membershipTest.js
weaver/core/identity-management/iin-agent/test/utilsTest.js
weaver/samples/besu/besu-cli/src/commands/asset/claim.ts
weaver/samples/besu/besu-cli/src/commands/asset/exchange.ts
weaver/samples/besu/besu-cli/src/commands/asset/issue.ts
weaver/samples/besu/besu-cli/src/commands/asset/lock.ts
weaver/samples/besu/besu-cli/src/commands/asset/unlock.ts
weaver/samples/besu/simpleasset/app/AssetExchangeERC1155_20.js
weaver/samples/besu/simpleasset/app/AssetExchangeERC20.js
weaver/samples/besu/simpleasset/app/AssetExchangeERC721_20.js
weaver/samples/besu/simpleasset/get-network-details.js
weaver/samples/besu/simplestate/get-network-details.js
weaver/samples/fabric/fabric-cli/src/commands/asset/exchange-all.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/exchange/claim.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/exchange/is-locked.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/exchange/lock.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/exchange/unlock.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/transfer/claim.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/transfer/pledge.ts
weaver/samples/fabric/fabric-cli/src/commands/asset/transfer/reclaim.ts
weaver/samples/fabric/fabric-cli/src/commands/chaincode/invoke.ts
weaver/samples/fabric/fabric-cli/src/commands/chaincode/query.ts
weaver/samples/fabric/fabric-cli/src/commands/config-helper.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/asset/add.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/create/access-control.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/create/all.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/create/membership.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/create/verification-policy.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/membership.ts
weaver/samples/fabric/fabric-cli/src/commands/configure/network.ts
weaver/samples/fabric/fabric-cli/src/commands/env-helper.ts
weaver/samples/fabric/fabric-cli/src/commands/event/get-all.ts
weaver/samples/fabric/fabric-cli/src/commands/event/get-subscription-status.ts
weaver/samples/fabric/fabric-cli/src/commands/event/receive.ts
weaver/samples/fabric/fabric-cli/src/commands/event/subscribe.ts
weaver/samples/fabric/fabric-cli/src/commands/event/unsubscribe.ts
weaver/samples/fabric/fabric-cli/src/commands/hash-helper.ts
weaver/samples/fabric/fabric-cli/src/commands/helper-helper.ts
weaver/samples/fabric/fabric-cli/src/commands/helper/getKeyAndCert.ts
weaver/samples/fabric/fabric-cli/src/commands/interop-helper.ts
weaver/samples/fabric/fabric-cli/src/commands/user-helper.ts
weaver/samples/fabric/fabric-cli/src/commands/user/add.ts
weaver/samples/fabric/fabric-cli/src/helpers/fabric-functions.ts
weaver/samples/fabric/fabric-cli/src/helpers/helpers.ts
weaver/samples/fabric/fabric-cli/src/helpers/interop-setup/configure-network.ts
weaver/sdks/besu/node/src/AssetManager.ts
weaver/sdks/fabric/interoperation-node-sdk/build/
weaver/sdks/fabric/interoperation-node-sdk/coverage/prettify.js
weaver/sdks/fabric/interoperation-node-sdk/src/AssetManager.ts
weaver/sdks/fabric/interoperation-node-sdk/src/EventsManager.ts
weaver/sdks/fabric/interoperation-node-sdk/src/HashFunctions.ts
weaver/sdks/fabric/interoperation-node-sdk/src/InteroperableHelper.ts
weaver/sdks/fabric/interoperation-node-sdk/src/MembershipManager.ts
weaver/sdks/fabric/interoperation-node-sdk/src/Relay.ts
weaver/sdks/fabric/interoperation-node-sdk/src/helpers.ts
weaver/sdks/fabric/interoperation-node-sdk/test/AssetManager.js
weaver/sdks/fabric/interoperation-node-sdk/test/InteroperableHelper.js
weaver/sdks/fabric/interoperation-node-sdk/test/Relay.js
weaver/sdks/fabric/interoperation-node-sdk/protos-js/driver/driver_grpc_pb.js
