*.d.ts
**/dist/
**/bin/
**/.nyc_output/
**/www/
**/generated/
packages/core
packages/connection-chain
contribs/
**/src/main/typescript/generated/**
weaver/common/protos-js/**/*_pb.js

# TODO: Send a PR that moves these generated code files under a sub-directory 
# that is called "generated" so that the default ignore pattern above matches it
packages/cactus-plugin-ledger-connector-sawtooth/src/main/typescript/sawtooth-api/**