language: node_js
node_js:
  - 8
jdk:
  - oraclejdk8

os: linux

dist: bionic

services:
  - docker

install:
  - docker --version
  - docker-compose --version

script:
  - ./packages/core/tools/ci.sh

after_script:
  - docker ps -a
