{
    "openapi": "3.0.3",
    "info": {
        "title": "Hyperledger Cactus Plugin - Consortium Web Service",
        "description": "Manage a Cactus consortium through the APIs. Needs administrative priviliges.",
        "version": "0.0.1",
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "servers": [
        {
            "url": "https://www.cactus.stream/{basePath}",
            "description": "Public test instance",
            "variables": {
                "basePath": {
                    "default": ""
                }
            }
        },
        {
            "url": "http://localhost:4000/{basePath}",
            "description": "Local test instance",
            "variables": {
                "basePath": {
                    "default": ""
                }
            }
        }
    ],
    "components": {
        "schemas": {
            "GetNodeJwsResponse": {
                "type": "object",
                "required": [
                    "jws"
                ],
                "properties": {
                    "jws": {
                        "description": "The JSON Web Signature of the Cactus node.",
                        "$ref": "../../../../../cactus-core-api/src/main/json/openapi.json#/components/schemas/JWSGeneral",
                        "nullable": false
                    }
                }
            },
            "GetConsortiumJwsResponse": {
                "type": "object",
                "required": [
                    "jws"
                ],
                "properties": {
                    "jws": {
                        "description": "The JSON Web Signature of the Cactus consortium.",
                        "$ref": "../../../../../cactus-core-api/src/main/json/openapi.json#/components/schemas/JWSGeneral",
                        "nullable": false,
                        "format": "The general format which is a JSON object, not a string."
                    }
                }
            },
            "PrometheusExporterMetricsResponse": {
                "type": "string",
                "nullable": false
            }
        }
    },
    "paths": {
        "/api/v1/plugins/@hyperledger/cactus-plugin-consortium-manual/consortium/jws": {
            "get": {
                "x-hyperledger-cactus": {
                    "http": {
                        "verbLowerCase": "get",
                        "path": "/api/v1/plugins/@hyperledger/cactus-plugin-consortium-manual/consortium/jws"
                    }
                },
                "operationId": "getConsortiumJws",
                "summary": "Retrieves a consortium JWS",
                "description": "The JWS asserting the consortium metadata (pub keys and hosts of nodes)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetConsortiumJwsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/plugins/@hyperledger/cactus-plugin-consortium-manual/node/jws": {
            "get": {
                "x-hyperledger-cactus": {
                    "http": {
                        "verbLowerCase": "get",
                        "path": "/api/v1/plugins/@hyperledger/cactus-plugin-consortium-manual/node/jws"
                    }
                },
                "operationId": "getNodeJws",
                "summary": "Retrieves the JWT of a Cactus Node",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetNodeJwsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/plugins/@hyperledger/cactus-plugin-consortium-manual/get-prometheus-exporter-metrics": {
            "get": {
                "x-hyperledger-cactus": {
                    "http": {
                        "verbLowerCase": "get",
                        "path": "/api/v1/plugins/@hyperledger/cactus-plugin-consortium-manual/get-prometheus-exporter-metrics"
                    }
                },
                "operationId": "getPrometheusExporterMetricsV1",
                "summary": "Get the Prometheus Metrics",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrometheusExporterMetricsResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}