{
  "openapi": "3.0.3",
  "info": {
    "title": "Hyperledger Cactus Plugin - Object Store - IPFS ",
    "description": "Contains/describes the Hyperledger Cactus Object Store IPFS plugin.",
    "version": "2.1.0",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.cactus.stream/{basePath}",
      "description": "Public test instance",
      "variables": {
        "basePath": {
          "default": ""
        }
      }
    },
    {
      "url": "http://localhost:4000/{basePath}",
      "description": "Local test instance",
      "variables": {
        "basePath": {
          "default": ""
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "GetObjectRequestV1": {
        "type": "object",
        "required": ["key"],
        "additionalProperties": false,
        "properties": {
          "key": {
            "type": "string",
            "description": "The key for the entry to get from the object store.",
            "minLength": 1,
            "maxLength": 1024,
            "nullable": false
          }
        }
      },
      "GetObjectResponseV1": {
        "type": "object",
        "required": ["key", "value"],
        "properties": {
          "key": {
            "type": "string",
            "description": "The key that was used to retrieve the value from the object store.",
            "minLength": 1,
            "maxLength": 1024,
            "nullable": false
          },
          "value": {
            "type": "string",
            "description": "The value associated with the requested key in the object store as a string.",
            "minLength": 0,
            "maxLength": 10485760,
            "nullable": false
          }
        }
      },
      "SetObjectRequestV1": {
        "type": "object",
        "required": ["key", "value"],
        "additionalProperties": false,
        "properties": {
          "key": {
            "type": "string",
            "description": "The key for the entry to set in the object store.",
            "minLength": 1,
            "maxLength": 1024,
            "nullable": false
          },
          "value": {
            "type": "string",
            "description": "The value that will be associated with the key in the object store.",
            "minLength": 0,
            "maxLength": 10485760,
            "nullable": false
          }
        }
      },
      "SetObjectResponseV1": {
        "type": "object",
        "required": ["key"],
        "properties": {
          "key": {
            "type": "string",
            "description": "The key that was used to set the value in the object store.",
            "minLength": 1,
            "maxLength": 1024,
            "nullable": false
          }
        }
      },
      "HasObjectRequestV1": {
        "type": "object",
        "required": ["key"],
        "additionalProperties": false,
        "properties": {
          "key": {
            "type": "string",
            "description": "The key to check for presence in the object store.",
            "minLength": 1,
            "maxLength": 1024,
            "nullable": false
          }
        }
      },
      "HasObjectResponseV1": {
        "type": "object",
        "required": ["key", "isPresent", "checkedAt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "The key that was used to check the presence of the value in the object store.",
            "minLength": 1,
            "maxLength": 1024,
            "nullable": false
          },
          "checkedAt": {
            "type": "string",
            "description": "Date and time encoded as JSON when the presence check was performed by the plugin backend.",
            "nullable": false
          },
          "isPresent": {
            "type": "boolean",
            "description": "The boolean true or false indicating the presence or absence of an object under 'key'.",
            "nullable": false
          }
        }
      }
    },
    "requestBodies": {
      "object_store_get_object_v1_request_body": {
        "description": "Request body to obtain an object via its key.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetObjectRequestV1"
            }
          }
        }
      },
      "object_store_set_object_v1_request_body": {
        "description": "Request body to set an object under a key.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SetObjectRequestV1"
            }
          }
        }
      },
      "object_store_has_object_v1_request_body": {
        "description": "Request body to check presence of an object under a key.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HasObjectRequestV1"
            }
          }
        }
      }
    },
    "responses": {
      "object_store_get_object_v1_response_body": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetObjectResponseV1"
            }
          }
        }
      },
      "object_store_set_object_v1_response_body": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SetObjectResponseV1"
            }
          }
        }
      },
      "object_store_has_object_v1_response_body": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HasObjectResponseV1"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/plugins/@hyperledger/cactus-plugin-object-store-ipfs/get-object": {
      "post": {
        "x-hyperledger-cacti": {
          "http": {
            "verbLowerCase": "post",
            "path": "/api/v1/plugins/@hyperledger/cactus-plugin-object-store-ipfs/get-object"
          }
        },
        "operationId": "getObjectV1",
        "summary": "Retrieves an object from the object store.",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/object_store_get_object_v1_request_body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/object_store_get_object_v1_response_body"
          }
        }
      }
    },
    "/api/v1/plugins/@hyperledger/cactus-plugin-object-store-ipfs/set-object": {
      "post": {
        "x-hyperledger-cacti": {
          "http": {
            "verbLowerCase": "post",
            "path": "/api/v1/plugins/@hyperledger/cactus-plugin-object-store-ipfs/set-object"
          }
        },
        "operationId": "setObjectV1",
        "summary": "Sets an object in the object store under the specified key.",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/object_store_set_object_v1_request_body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/object_store_set_object_v1_response_body"
          }
        }
      }
    },
    "/api/v1/plugins/@hyperledger/cactus-plugin-object-store-ipfs/has-object": {
      "post": {
        "x-hyperledger-cacti": {
          "http": {
            "verbLowerCase": "post",
            "path": "/api/v1/plugins/@hyperledger/cactus-plugin-object-store-ipfs/has-object"
          }
        },
        "operationId": "hasObjectV1",
        "summary": "Checks the presence of an object in the object store.",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/object_store_has_object_v1_request_body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/object_store_has_object_v1_response_body"
          }
        }
      }
    }
  }
}
