.DS_Store
**/.DS_Store
.idea
dev/fabric/config
dev/fabric/bin
dev/fabric/.fabric-setup
.lock
*.lock
shared/fabric/artifacts/*.jar
shared/fabric/artifacts/*.zip
shared/fabric/artifacts/fnimcc
shared/fabric/artifacts/snamcc
shared/fabric/chaincode/*
!shared/fabric/chaincode/simplestate
!shared/fabric/chaincode/interop
shared/artifactory.properties
fabric/dev/scripts/config.json
fabric/shared/chaincode/fabric-interop-cc
fabric/shared/chaincode/interop
shared/charts/apikey
shared/charts/username
