{
    "openapi": "3.0.3",
    "info": {
      "title": "Hyperledger Cactus Plugin - Connector Iroha",
      "description": "Can perform basic tasks on a Iroha ledger",
      "version": "0.0.1",
      "license": {
        "name": "Apache 2.0",
        "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
      }
    },
    "servers": [
      {
        "url": "https://www.cactus.stream/{basePath}",
        "description": "Public test instance",
        "variables": {
          "basePath": {
            "default": ""
          }
        }
      },
      {
        "url": "http://localhost:4000/{basePath}",
        "description": "Local test instance",
        "variables": {
          "basePath": {
            "default": ""
          }
        }
      }
    ],
    "components": {
      "schemas": {
        "IrohaCommand": {
          "type": "string",
          "enum": [
            "createAccount",
            "setAccountDetail",
            "setAccountQuorum",
            "compareAndSetAccountDetail",
            "createAsset",
            "addAssetQuantity",
            "subtractAssetQuantity",
            "transferAsset",
            "createDomain",
            "createRole",
            "detachRole",
            "appendRole",
            "addSignatory",
            "removeSignatory",
            "grantPermission",
            "revokePermission",
            "addPeer",
            "removePeer",
            "setSettingValue",
            "callEngine"
          ],
          "x-enum-descriptions": [
            "Make entity in the system, capable of sending transactions or queries, storing signatories, personal data and identifiers.",
            "Set key-value information for a given account.",
            "Set the number of signatories required to confirm the identity of a user, who creates the transaction.",
            "Set key-value information for a given account if the old value matches the value passed.",
            "Create a new type of asset, unique in a domain. An asset is a countable representation of a commodity.",
            "Increase the quantity of an asset on account of transaction creator.",
            "Decrease the number of assets on account of transaction creator.",
            "Share assets within the account in peer network: in the way that source account transfers assets to the target account.",
            "Make new domain in Iroha network, which is a group of accounts.",
            "Create a new role in the system from the set of permissions.",
            "Detach a role from the set of roles of an account.",
            "Promote an account to some created role in the system, where a role is a set of permissions account has to perform an action (command or query).",
            "Add an identifier to the account. Such identifier is a public key of another device or a public key of another user.",
            "Remove a public key, associated with an identity, from an account",
            "Give another account rights to perform actions on the account of transaction sender (give someone right to do something with my account).",
            "Revoke or dismiss given granted permission from another account in the network.",
            "Write into ledger the fact of peer addition into the peer network.",
            "Write into ledger the fact of peer removal from the network.",
            "This command is not available for use, it was added for backward compatibility with Iroha.",
            "This command is not availalbe for use because it is related to smart contract."
          ],
          "x-enum-varnames": [
            "CreateAccount",
            "SetAccountDetail",
            "SetAccountQuorum",
            "CompareAndSetAccountDetail",
            "CreateAsset",
            "AddAssetQuantity",
            "SubtractAssetQuantity",
            "TransferAsset",
            "CreateDomain",
            "CreateRole",
            "DetachRole",
            "AppendRole",
            "AddSignatory",
            "RemoveSignatory",
            "GrantPermission",
            "RevokePermission",
            "AddPeer",
            "RemovePeer",
            "SetSettingValue",
            "CallEngine"
          ]
        },
        "IrohaQuery": {
          "type": "string",
          "enum": [
            "getAccount",
            "getAccountDetail",
            "getAssetInfo",
            "getAccountAssets",
            "getTransactions",
            "getPendingTransactions",
            "getAccountTransactions",
            "getAccountAssetTransactions",
            "getRoles",
            "getSignatories",
            "getRolePermissions",
            "getBlock",
            "getEngineReceipts",
            "fetchCommits",
            "getPeers"
          ],
          "x-enum-descriptions": [
            "To get the state of an account",
            "To get details of the account.",
            "To get information on the given asset (as for now - its precision).",
            "To get the state of all assets in an account (a balance).",
            "To retrieve information about transactions, based on their hashes.",
            "To retrieve a list of pending (not fully signed) multisignature transactions or batches of transactions issued by account of query creator.",
            "To retrieve a list of transactions per account.",
            "To retrieve all transactions associated with given account and asset.",
            "To get existing roles in the system.",
            "To get signatories, which act as an identity of the account.",
            "To get available permissions per role in the system.",
            "To get a specific block, using its height as an identifier.",
            "To retrieve a receipt of a CallEngine command. Allows to access the event log created during computations inside the EVM.",
            "To get new blocks as soon as they are committed, a user can invoke FetchCommits RPC call to Iroha network.",
            "A query that returns a list of peers in Iroha network."
          ],
          "x-enum-varnames": [
            "GetAccount",
            "GetAccountDetail",
            "GetAssetInfo",
            "GetAccountAssets",
            "GetTransactions",
            "GetPendingTransactions",
            "GetAccountTransactions",
            "GetAccountAssetTransactions",
            "GetRoles",
            "GetSignatories",
            "GetRolePermissions",
            "GetBlock",
            "GetEngineReceipts",
            "FetchCommits",
            "GetPeers"
          ]
        },
        "RunTransactionRequest": {
          "type": "object",
          "required": ["commandName", "params"],
          "properties": {
            "commandName": {
              "type": "string",
              "nullable": false
            },
            "params": {
              "description": "The list of arguments to pass in to the trasnsaction request.",
              "type": "array",
              "default": [],
              "items": {}
            }
          }
        },
        "RunTransactionResponse": {
          "type": "object",
          "required": ["transactionReceipt"],
          "properties": {
            "transactionReceipt": {}
          }
        },
        "InvokeContractV1Request": {
          "type": "object",
          "required": [
            "contractName",
            "signingCredential",
            "invocationType",
            "methodName",
            "params"
          ],
          "properties": {
            "contractName": {},
            "signingCredential": {},
            "invocationType": {},
            "methodName": {
              "description": "The name of the contract method to invoke.",
              "type": "string",
              "nullable": false,
              "minLength": 1,
              "maxLength": 2048
            },
            "params": {
              "description": "The list of arguments to pass in to the contract method being invoked.",
              "type": "array",
              "default": [],
              "items": {}
            },
            "contractAbi": {
              "description": "The application binary interface of the solidity contract, optional parameter",
              "type": "array",
              "items": {},
              "nullable": false
            },
            "contractAddress": {
              "description": "Address of the solidity contract, optional parameter",
              "type": "string",
              "nullable": false
            },
            "value": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "gas": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "gasPrice": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            },
            "nonce": {
              "type": "number"
            },
            "timeoutMs": {
              "type": "number",
              "description": "The amount of milliseconds to wait for a transaction receipt beforegiving up and crashing. Only has any effect if the invocation type is SEND",
              "minimum": 0,
              "default": 60000,
              "nullable": false
            },
            "keychainId": {
              "type": "string",
              "description": "The keychainId for retrieve the contracts json.",
              "minLength": 1,
              "maxLength": 100
            }
          }
        },
        "InvokeContractV1Response": {
          "type": "object",
          "required": ["success"],
          "properties": {}
        },
        "PrometheusExporterMetricsResponse": {
          "type": "string",
          "nullable": false
        }
      }
    },
    "paths": {
      "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-iroha/run-transaction": {
        "post": {
          "x-hyperledger-cactus": {
            "http": {
              "verbLowerCase": "post",
              "path": "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-iroha/run-transaction"
            }
          },
          "operationId": "runTransactionV1",
          "summary": "Executes a transaction on a Iroha ledger",
          "parameters": [],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTransactionRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RunTransactionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-iroha/invoke-contract": {
        "post": {
          "x-hyperledger-cactus": {
            "http": {
              "verbLowerCase": "post",
              "path": "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-iroha/invoke-contract"
            }
          },
          "operationId": "invokeContractV1",
          "summary": "Invokes a contract on a Iroha ledger",
          "parameters": [],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvokeContractV1Request"
                }
              }
            }
          },
          "responses": {
            "501": {
              "description": "Not implemented",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 2048
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-iroha/get-prometheus-exporter-metrics": {
        "get": {
          "x-hyperledger-cactus": {
            "http": {
              "verbLowerCase": "get",
              "path": "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-iroha/get-prometheus-exporter-metrics"
            }
          },
          "operationId": "getPrometheusExporterMetricsV1",
          "summary": "Get the Prometheus Metrics",
          "parameters": [],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/PrometheusExporterMetricsResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  