table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  
  tbody tr {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(219, 241, 232);
    border-radius: 10px;
  }
  
  tbody tr:hover {
    cursor: pointer;
    background-color: rgb(235, 240, 237);
  }
  
  th {
    background-color: rgb(240, 235, 235);
    border-style: none;
    border-bottom: solid 1px rgb(223, 218, 218);
    padding: 10px;
  }
  
  td {
    min-height: 2rem;
    border-style: none;
    border-bottom: solid 4px rgb(255, 255, 255);
    padding: 1.5rem .5rem;
    text-align: center;
  }
  
  tr {
    min-height: 20rem;
    background-color: rgb(90, 103, 116);
    padding: 1rem;
  }
  
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }