# Ethereum RPC Endpoints
ETHEREUM_SEPOLIA_RPC_ENDPOINT=https://eth-sepolia.g.alchemy.com/v2/your-api-key-here

# Smart Contract Addresses
ROLE_MANAGER_CONTRACT_ADDRESS=0x955aD7FE3169DD0A63c714aFA678EaC2ed22237D
PAYMENT_CONTRACT_ADDRESS=0xD4414Cd021aD95a1E91Bc09E620dA1f152B7521A

# Logging
LOG_LEVEL=INFO 