name = "Fabric_Relay2"
port="9083"
hostname="localhost"
db_path="db/Fabric_Relay2/requests"
# This will be replaced by the task queue.
remote_db_path="db/Fabric_Relay2/remote_request"
db_satp_path="db/Fabric_Relay2/satp"
# max retries opening sled db if it is locked
db_open_max_retries=500
# retry back off time in ms if sled db is locked
db_open_retry_backoff_msec=10


# FOR TLS
cert_path="credentials/fabric_cert.pem"
key_path="credentials/fabric_key"
tls=false

[networks]
[networks.network2]
network="Fabric"


[relays]
[relays.Corda_Relay]
hostname="localhost"
port="9081"
tls=false
tlsca_cert_path="credentials/fabric_ca_cert.pem"
[relays.Corda_Relay2]
hostname="localhost"
port="9082"
tls=false
tlsca_cert_path="credentials/fabric_ca_cert.pem"
[relays.Fabric_Relay]
hostname="localhost"
port="9080"
tls=false
tlsca_cert_path="credentials/fabric_ca_cert.pem"


[drivers]
[drivers.Fabric]
hostname="localhost"
port="9095"
tls=false
tlsca_cert_path="credentials/fabric_ca_cert.pem"

