.nav-bar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 8rem;
    height: 4rem;
    background-color: rgb(180, 218, 167);
    align-items: center;
    gap: 2rem;
}

.navigation {
    height: 100%;
    display: flex;
    gap: 1rem;
}

@media (max-width: 1699px) {
    .nav-bar{
        padding-left: 1rem;
    }
}