.erc-content {
    display: flex;
    gap:2rem;
}

.erc-wrap{
    width:100%;
    display: flex;
    gap:1rem;
    flex-direction: column;

}


@media (max-width: 1699px) {
    .erc-content{
        flex-direction: column;
    }
}