.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.custom-table tbody tr {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(219, 241, 232);
  border-radius: 10px;
}

.custom-table tbody tr:hover {
  cursor: pointer;
  background-color: rgb(235, 240, 237);
}

.custom-table th {
  background-color: rgb(240, 235, 235);
  border-style: none;
  border-bottom: solid 1px rgb(155, 153, 153);
  padding: 10px;
}

.custom-table td {
  min-height: 2rem;
  border-style: none;
  border-bottom: solid 2px rgb(255, 255, 255);
  padding: 1.5rem 0.5rem;
  text-align: center;
}

.custom-table tr {
  min-height: 20rem;
  background-color: rgb(90, 103, 116);
  padding: 1rem;
}

.custom-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.custom-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.custom-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.custom-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

@media (max-width: 1699px) {
  table {
    width: 100%;
    margin-bottom: 0.75rem;
    table-layout: fixed;
  }

  table:hover td:nth-child(even) {
    cursor: pointer;
    background-color: rgb(235, 240, 237);
  }

  td {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.75rem;
  }

  .table-rwd {
    border: solid 1px rgb(223, 218, 218);
    overflow: hidden;
  }

  .table-rwd td {
    border-bottom: solid 2px rgb(253, 253, 253);
  }

  .table-rwd-heading {
    background-color: rgb(240, 235, 235);
    border-style: none;
    padding: 0.5rem;
    width: 140px;
    font-weight: 700;
    font-size: 0.9rem;
    border-right: solid 1px rgb(223, 218, 218);
  }

  .table-rwd:first-child {
    border-top-left-radius: 10px;
  }

  .table-rwd:first-child {
    border-top-right-radius: 10px;
  }

  .table-rwd:last-child {
    border-bottom-left-radius: 10px;
  }

  .table-rwd:last-child {
    border-bottom-right-radius: 10px;
  }

  .table-rwd tr:last-child > td:nth-last-of-type(2) {
    border-bottom: 0;
  }

  .table-rwd tr:last-child > td:last-of-type {
    border-bottom: 0;
  }

  .table-rwd td:last-child {
    text-align: left;
  }

  tr:first-child th:first-child {
    border-top-left-radius: 0;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 0;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
}
