.pagination {
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-counter {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid rgb(204, 206, 205);
}

.pagination-jump {
  display: flex;
  gap: 10px;
  padding: 9px 1rem;
  background-color: rgb(233, 229, 229);
  border-radius: 10px;
}

input {
  border-radius: 10px;
  border: 1px solid rgb(54, 51, 224);
  padding: 0 0.5rem;
  width: 7rem;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 1699px) {
  .pagination {
    padding: 0;
    justify-content: center;
    position: relative;
  }

  .pagination button {
    min-width: 85px;
  }

  .pagination-jump {
    position: absolute;
    top: 2.75rem;
  }
}
