.input {
  border: none;
  border-radius: 10px;
  width: 30rem;
  height: 2.5rem;
  background-color: rgb(240, 236, 236);
  padding: 1rem;
  font-size: 16px;
}

.input-wrapper {
  position: relative;
}

.input-reset {
  background: transparent;
  position: absolute;
  right: 0.5rem;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.input-reset:hover {
  color: green;
}
.input-reset-icon {
  pointer-events: none;
}

@media (max-width: 1699px) {
  .input {
    width: 12rem;
    text-align: left;
  }

  .input-reset {
    right: 0;
    top: 0.1rem;
  }
}
