CCID=<ccid-after-installing-chaincode-on-peer>
CHANNEL=<channel-name>
PEER=<peer-name>
ORG=<org-name>
NETWORK=<network-name>
DOCKER_IMAGE_NAME=ghcr.io/hyperledger-labs/weaver-fabric-cc
DOCKER_TAG=1.4.0
EXTERNAL_NETWORK=<docker-bridge-network>
COMPOSE_PROJECT_NAME=<docker-compose-project-name>
COMPOSE_PROJECT_NETWORK=<docker-compose-project-network>