NETWORK_NAME=<container-name-suffix>
DRIVER_PORT=<driver-server-port>
DRIVER_RPC_USERNAME=driverUser1
DRIVER_RPC_PASSWORD=test
EXTERNAL_NETWORK=<docker-bridge-network>
DOCKER_IMAGE_NAME=ghcr.io/hyperledger-labs/weaver-corda-driver
DOCKER_TAG=1.2.9
COMPOSE_PROJECT_NAME=<docker-compose-project-name>
COMPOSE_PROJECT_NETWORK=<docker-compose-project-network>
RELAY_TLS=<true|false>
RELAY_TLSCA_TRUST_STORE=<truststore-jks-file-path>
RELAY_TLSCA_TRUST_STORE_PASSWORD=<truststore-jks-file-password>
RELAY_TLSCA_CERT_PATHS=<colon-separated-CA-cert-paths>
DRIVER_TLS=<true|false>
DRIVER_TLS_CERT_PATH=<cert-path>
DRIVER_TLS_KEY_PATH=<private-key-path>
