[package]
name = "relay"
version = "2.1.0"
authors = ["Antony Targett <atargett@au1.ibm.com>", "Nick Waywood <nwaywood@au1.ibm.com>"]
edition = "2021"

[lib]
name = "pb"
path = "src/main/rust/pb.rs"


[dependencies]
tonic = {version="0.10.2",  features = ["tls"]}
prost = "0.12.3"
tokio = { version = "1.39.2", features = ["macros", "fs"] }
serde = {version="1.0.193", features = ["derive"]}

[build-dependencies]
tonic-build = "0.10.2"




