{
    "openapi": "3.0.3",
    "info": {
        "title": "Hyperledger Cactus Plugin - Connector Fabric",
        "description": "Can perform basic tasks on a fabric ledger",
        "version": "0.0.1",
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "servers": [
        {
            "url": "https://www.cactus.stream/{basePath}",
            "description": "Public test instance",
            "variables": {
                "basePath": {
                    "default": ""
                }
            }
        },
        {
            "url": "http://localhost:4000/{basePath}",
            "description": "Local test instance",
            "variables": {
                "basePath": {
                    "default": ""
                }
            }
        }
    ],
    "components": {
        "schemas": {
            "FabricSigningCredential": {
                "type": "object",
                "required": [
                    "keychainId",
                    "keychainRef"
                ],
                "properties": {
                    "keychainId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "nullable": false
                    },
                    "keychainRef": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "nullable": false
                    }
                }
            },
            "ConnectionProfile": {
                "type": "object",
                "required": [
                    "name",
                    "description",
                    "version",
                    "organizations",
                    "peers"
                ],
                "additionalProperties": true,
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "basic-network",
                        "minLength": 1,
                        "maxLength": 1024
                    },
                    "x-type": {
                        "type": "string",
                        "minLength": 1,
                        "example": "hlfv1"
                    },
                    "description": {
                        "type": "string",
                        "example": "The basic network"
                    },
                    "version": {
                        "type": "string",
                        "example": "1.0"
                    },
                    "client": {
                        "type": "object",
                        "properties": {
                            "organization": {
                                "type": "string",
                                "example": "Org1"
                            }
                        }
                    },
                    "channels": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "organizations": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "orderers": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "peers": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "certificateAuthorities": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "GatewayDiscoveryOptions": {
                "type": "object",
                "required": [],
                "additionalProperties": false,
                "properties": {
                    "asLocalhost": {
                        "type": "boolean",
                        "nullable": false
                    },
                    "enabled": {
                        "type": "boolean",
                        "nullable": false
                    }
                }
            },
            "DefaultEventHandlerStrategy": {
                "type": "string",
                "enum": [
                    "MSPID_SCOPE_ALLFORTX",
                    "MSPID_SCOPE_ANYFORTX",
                    "NETWORK_SCOPE_ALLFORTX",
                    "NETWORK_SCOPE_ANYFORTX"
                ]
            },
            "GatewayEventHandlerOptions": {
                "type": "object",
                "required": [
                    "strategy"
                ],
                "additionalProperties": false,
                "properties": {
                    "commitTimeout": {
                        "type": "number",
                        "nullable": false
                    },
                    "strategy": {
                        "description": "The name of the strategy to be used when looking up the TxEventHandlerFactory to pass in to the Fabric Gateway as the strategy property of the discovery options.",
                        "$ref": "#/components/schemas/DefaultEventHandlerStrategy"
                    }
                }
            },
            "FileBase64": {
                "description": "Represents a file-system file that has a name and a body which holds the file contents as a Base64 encoded string",
                "type": "object",
                "required": [
                    "body",
                    "filename"
                ],
                "properties": {
                    "body": {
                        "description": "The file's contents encoded as a Base64 string.",
                        "type": "string",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 104857600
                    },
                    "filename": {
                        "description": "The name as referred to on a file system",
                        "example": "my-cool-file-full-of-wonders-and-fun-stuff.go",
                        "type": "string",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 255
                    }
                }
            },
            "FabricContractInvocationType": {
                "type": "string",
                "enum": [
                    "FabricContractInvocationType.SEND",
                    "FabricContractInvocationType.CALL"
                ]
            },
            "SSHExecCommandResponse": {
                "type": "object",
                "required": [
                    "stdout",
                    "stderr",
                    "code",
                    "signal"
                ],
                "properties": {
                    "stdout": {
                        "type": "string",
                        "nullable": false
                    },
                    "stderr": {
                        "type": "string",
                        "nullable": false
                    },
                    "code": {
                        "type": "integer",
                        "nullable": true
                    },
                    "signal": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "RunTransactionRequest": {
                "type": "object",
                "required": [
                    "signingCredential",
                    "channelName",
                    "contractName",
                    "invocationType",
                    "methodName",
                    "params"
                ],
                "properties": {
                    "signingCredential": {
                        "$ref": "#/components/schemas/FabricSigningCredential",
                        "nullable": false
                    },
                    "channelName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "nullable": false
                    },
                    "contractName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "nullable": false
                    },
                    "invocationType": {
                        "$ref": "#/components/schemas/FabricContractInvocationType",
                        "nullable": false,
                        "description": "Indicates if it is a CALL or a SEND type of invocation where only SEND ends up creating an actual transaction on the ledger."
                    },
                    "methodName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "nullable": false
                    },
                    "params": {
                        "type": "array",
                        "nullable": false,
                        "default": [],
                        "items": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                }
            },
            "RunTransactionResponse": {
                "type": "object",
                "required": [
                    "functionOutput",
                    "success"
                ],
                "properties": {
                    "functionOutput": {
                        "type": "string",
                        "nullable": false
                    },
                    "success": {
                        "type": "boolean",
                        "nullable": false
                    }
                }
            },
            "DeploymentTargetOrganization": {
                "type": "object",
                "required": [
                    "CORE_PEER_LOCALMSPID",
                    "CORE_PEER_ADDRESS",
                    "CORE_PEER_MSPCONFIGPATH",
                    "CORE_PEER_TLS_ROOTCERT_FILE",
                    "ORDERER_TLS_ROOTCERT_FILE"
                ],
                "properties": {
                    "CORE_PEER_LOCALMSPID": {
                        "type": "string",
                        "example": "Org1MSP",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 1024,
                        "description": "Mapped to environment variables of the Fabric CLI container."
                    },
                    "CORE_PEER_ADDRESS": {
                        "type": "string",
                        "example": "peer0.org1.example.com:7051",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 1024,
                        "description": "Mapped to environment variables of the Fabric CLI container."
                    },
                    "CORE_PEER_MSPCONFIGPATH": {
                        "type": "string",
                        "example": "/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 1024,
                        "description": "Mapped to environment variables of the Fabric CLI container."
                    },
                    "CORE_PEER_TLS_ROOTCERT_FILE": {
                        "type": "string",
                        "example": "/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 1024,
                        "description": "Mapped to environment variables of the Fabric CLI container."
                    },
                    "ORDERER_TLS_ROOTCERT_FILE": {
                        "type": "string",
                        "example": "/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/ordererOrganizations/example.com/orderers/orderer.example.com/msp/tlscacerts/tlsca.example.com-cert.pem",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 1024,
                        "description": "Mapped to environment variables of the Fabric CLI container."
                    }
                }
            },
            "DeployContractGoSourceV1Request": {
                "type": "object",
                "required": [
                    "goSource",
                    "targetOrganizations",
                    "chainCodeVersion",
                    "channelId",
                    "policyDslSource",
                    "targetPeerAddresses",
                    "tlsRootCertFiles"
                ],
                "properties": {
                    "policyDslSource": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 65535,
                        "nullable": false,
                        "example": "AND('Org1MSP.member','Org2MSP.member')"
                    },
                    "tlsRootCertFiles": {
                        "type": "string",
                        "description": "The TLS root cert files that will be passed to the chaincode instantiation command.",
                        "minLength": 1,
                        "maxLength": 65535,
                        "nullable": false,
                        "example": "/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt"
                    },
                    "channelId": {
                        "type": "string",
                        "description": "The name of the Fabric channel where the contract will get instantiated.",
                        "example": "mychannel",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": false
                    },
                    "targetOrganizations": {
                        "type": "array",
                        "minItems": 1,
                        "nullable": false,
                        "maxItems": 1024,
                        "items": {
                            "$ref": "#/components/schemas/DeploymentTargetOrganization"
                        }
                    },
                    "targetPeerAddresses": {
                        "type": "array",
                        "description": "An array of peer addresses where the contract will be instantiated.",
                        "example": [
                            "peer0.org1.example.com:7051"
                        ],
                        "minItems": 1,
                        "maxItems": 2048,
                        "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4096
                        }
                    },
                    "constructorArgs": {
                        "type": "object",
                        "example": "{} - An empty object literal can be sufficient if your contract does not have parameters.",
                        "nullable": false,
                        "properties": {
                            "Args": {
                                "type": "array",
                                "minLength": 0,
                                "maxLength": 2048,
                                "items": {}
                            }
                        }
                    },
                    "chainCodeVersion": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "example": "1.0.0",
                        "nullable": false
                    },
                    "goSource": {
                        "description": "The your-smart-contract.go file where the functionality of your contract is implemented.",
                        "$ref": "#/components/schemas/FileBase64",
                        "nullable": false
                    },
                    "goMod": {
                        "description": "The go.mod file that declares the dependencies of the chaincode go contract that is being deployed as part of this request.",
                        "$ref": "#/components/schemas/FileBase64",
                        "nullable": false
                    },
                    "moduleName": {
                        "description": "The go module name that will be used for the go compilation process.",
                        "example": "hello-world-contract",
                        "type": "string",
                        "nullable": false,
                        "minLength": 1,
                        "maxLength": 255
                    },
                    "pinnedDeps": {
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 1024,
                        "items": {
                            "type": "string",
                            "nullable": false,
                            "example": "github.com/hyperledger/fabric@v1.4.8"
                        }
                    },
                    "modTidyOnly": {
                        "description": "Indicates to the go chaincode compiler of Cactus if it should do an actual go compilation with the contact source or if it should just execute the go mod tidy command.",
                        "type": "boolean",
                        "nullable": true
                    }
                }
            },
            "DeployContractGoSourceV1Response": {
                "type": "object",
                "required": [
                    "success",
                    "installationCommandResponse",
                    "instantiationCommandResponse"
                ],
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "installationCommandResponse": {
                        "$ref": "#/components/schemas/SSHExecCommandResponse"
                    },
                    "instantiationCommandResponse": {
                        "$ref": "#/components/schemas/SSHExecCommandResponse"
                    }
                }
            },
            "PrometheusExporterMetricsResponse": {
                "type": "string",
                "nullable": false
            }
        }
    },
    "paths": {
        "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-fabric/run-transaction": {
            "post": {
                "x-hyperledger-cactus": {
                    "http": {
                        "verbLowerCase": "post",
                        "path": "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-fabric/run-transaction"
                    }
                },
                "operationId": "runTransactionV1",
                "summary": "Runs a transaction on a Fabric ledger.",
                "description": "",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RunTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunTransactionResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": ""
                    }
                }
            }
        },
        "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-fabric/deploy-contract-go-source": {
            "post": {
                "operationId": "deployContractGoSourceV1",
                "summary": "Deploys a chaincode contract in the form of a go sources.",
                "x-hyperledger-cactus": {
                    "http": {
                        "verbLowerCase": "post",
                        "path": "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-fabric/deploy-contract-go-source"
                    }
                },
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeployContractGoSourceV1Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeployContractGoSourceV1Response"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "Not implemented",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "nullable": false,
                                            "minLength": 1,
                                            "maxLength": 2048
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-fabric/get-prometheus-exporter-metrics": {
            "get": {
                "x-hyperledger-cactus": {
                    "http": {
                        "verbLowerCase": "get",
                        "path": "/api/v1/plugins/@hyperledger/cactus-plugin-ledger-connector-fabric/get-prometheus-exporter-metrics"
                    }
                },
                "operationId": "getPrometheusExporterMetricsV1",
                "summary": "Get the Prometheus Metrics",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrometheusExporterMetricsResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}