.select-wrapper {
  height: 2.2rem;
  width: 13rem;
}

.select {
  width: 100%;
  height: 100%;
  display: flex;
}

.select-icon {
  position: relative;
  right: 30px;
  height: 10px;
  width: 10px;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

.select-icon-up {
  top: 60%;
  border-top: 2px solid rgb(32, 133, 77);
  border-left: 2px solid rgb(32, 133, 77);
}

.select-icon-down {
  top: 40%;
  border-bottom: 2px solid rgb(32, 133, 77);
  border-right: 2px solid rgb(32, 133, 77);
}

.select-input {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-size: 1rem;
  color: rgb(102, 117, 106);
  background-color: rgb(248, 248, 250);
  border: 1px solid rgb(32, 133, 77);
  border-radius: 10px;
  cursor: pointer;
  text-align: start;
}

.select-input:hover {
  background-color: rgb(235, 240, 237);
}

.options-container {
  z-index: 1000;
  width: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid rgb(32, 133, 77);
  border-radius: 10px;
  color: rgb(102, 117, 106);
  background: white;
  cursor: pointer;
}

.option {
  padding: 5px;
}

.selected-option {
  padding: 5px;
  background-color: rgb(235, 240, 237);
}

.option:hover {
  background-color: rgb(235, 240, 237);
}
