PATH_TO_REMOTE_RELAYS_DEFINITIONS=./docker/remote-relay-dns-config
NETWORK_NAME=<docker-network-name>
NETWORK_TYPE=<Fabric/Corda>
DRIVER_HOST=<driver-hostaddress-or-ip>
DRIVER_PORT=<driver-server-port>
DRIVER_NAME=<driver-name>
RELAY_NAME=<docker-relay-name>
RELAY_PORT=<relay-grpc-server-port>
DOCKER_IMAGE_NAME=ghcr.io/hyperledger-labs/weaver-relay-server
DOCKER_TAG=1.4.2
EXTERNAL_NETWORK=<docker-bridge-network>
COMPOSE_PROJECT_NAME=<docker-compose-project-name>
COMPOSE_PROJECT_NETWORK=<docker-compose-project-network>
RELAY_TLS=false
RELAY_TLS_CERT_PATH=
RELAY_TLS_KEY_PATH=
DRIVER_TLS=false
DRIVER_TLSCA_CERT_PATH=