.block-card {
    display: flex;
    gap: 1rem;
    background-color: rgb(252, 249, 249);
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0rem;
    margin-top: 5px;
    border-radius: 10px;
    border: .5px solid rgb(242, 245, 242);
    max-height: 100vh;
    font-size: 14px;
}

.block-card:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.block-num {
    color: rgb(12, 105, 12);
}

.block-hash {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: min-content;
    max-width: 50%;
}