.wrapper {
  background-color: rgb(253, 253, 253);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(233, 236, 233);
  height: fit-content;
}

.wrapper-half-width {
  width: 50%;
}

.wrapper-full-width {
  width: 100%;
}

.wrapper-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.wrapper-title {
  margin-top: .5rem;
  display: flex;
  gap:5px;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(9, 75, 9);
}

.wrapper-btns {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.wrapper-columns {
  display: flex;
  justify-content: space-around;
  background-color: rgb(243, 239, 239);
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(233, 236, 233);
  height: 50px;
}

.wrapper-columns span {
  display: flex;
  width: 150px;
}

.wrapper-search {
  display: flex;
  gap: 5px;
}

@media (max-width: 1699px) {
  .wrapper {
    width: 100%;
  }

  .wrapper-header {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper-cards {
    flex-direction: column;
    padding: 1rem 0;
  }

  .wrapper-title svg {
    margin-bottom: -3px;
  }
}
