<app-page-heading pageTitle="Bookshelf List"></app-page-heading>

<ion-content>

    <ion-list>
      <ion-item *ngFor="let bookshelf of bookshelves"
      button
      (click)="clickShowDetail(bookshelf)"
      detail
      class="ion-text-wrap">

      <ion-text color="primary">
        Bookshelf #{{bookshelf.id}}
      </ion-text>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon (click)="clickAddNew()" name="add">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
