h1{
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}
.details {
  display: flex;
  gap: .75rem;
}
.details-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    width:45%;
}
span {
    display: inline-block;
    font-size: 1.1rem;
}

@media (max-width: 1699px) {
    .details{
        flex-direction: column;
    }

    .details-card {
        width: 100%;
    }
}