.DS_Store
node_modules
npm-debug.log
coverage
.nyc_output
dist
build
.vscode
.env
wallet/
protos/
protos-js/*
.npmrc
temp/
config.json
package-lock.json
src/wallet-network1
src/wallet-network2
chaincode.json
remote-network-config.json
admin.id
networkadmin.id
iinagent.id
*.proto.serialized
