.DS_Store
node_modules
npm-debug.log
coverage
.nyc_output
dist
build
.vscode
.env
wallet/
protos/
protos-js/*
.npmrc
temp/
config.json
package-lock.json
chaincode.json
remote-network-config.json
admin.id
iinagent.id
*.proto.serialized

# Wallet
src/wallet-network1/*.id
!src/wallet-network1/networkadmin.id
!src/wallet-network1/user1.id
!src/wallet-network1/alice.id
!src/wallet-network1/bob.id
src/wallet-network2/*.id
!src/wallet-network2/networkadmin.id
!src/wallet-network2/user1.id
!src/wallet-network2/alice.id
!src/wallet-network2/bob.id
