base58==2.1.0
bidict==0.21.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
cryptography==3.4.7
dnspython==1.16.0
eventlet==0.31.1
Flask==2.0.1
Flask-SocketIO==5.1.1
gevent==21.1.2
greenlet==1.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycparser==2.20
PyJWT==2.1.0
python-engineio==4.3.0
python-socketio==5.5.0
python3-indy==1.16.0
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
urllib3==1.26.6
websocket==0.2.1
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
