.idea/
*.iml
*.lock

#ignore all the DB and temp files and folders created by besu
/privacy/besu/data*/database
/privacy/besu/data*/private*
/privacy/besu/data*/uploads
/privacy/besu/data*/besu.ports
logs/
/volumes/
.DS_Store
