CONNECTION_PROFILE=path_to_connection_profile
RELAY_ENDPOINT=localhost:9080
RELAY_TLS=false
RELAY_TLSCA_CERT_PATH=path_to_tls_ca_cert_pem_for_relay
DRIVER_ENDPOINT=localhost:9090
DRIVER_TLS=false
DRIVER_TLS_CERT_PATH=path_to_tls_cert_pem_for_driver
DRIVER_TLS_KEY_PATH=path_to_tls_key_pem_for_driver
NETWORK_NAME=network1
DRIVER_CONFIG=
INTEROP_CHAINCODE=interop
MOCK=false
DB_PATH=driverdbs
WALLET_PATH=
