.erc-content {
    display: flex;
    gap:2rem;
}

.erc-wrap{
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1699px) {

    .erc-content{
        flex-direction: column;
    }
}