IIN_AGENT_ENDPOINT=localhost:9500
IIN_AGENT_TLS=false
IIN_AGENT_TLS_CERT_PATH=path_to_tls_cert_pem_for_driver
IIN_AGENT_TLS_KEY_PATH=path_to_tls_key_pem_for_driver
MEMBER_ID=<name-of-iin-agent/org-name>
SECURITY_DOMAIN=network1
DLT_TYPE=<fabric|corda|besu|...>
CONFIG_PATH=
DNS_CONFIG_PATH=
SECURITY_DOMAIN_CONFIG_PATH=
WEAVER_CONTRACT_ID=<weaver-contract-name>
SYNC_PERIOD=300
AUTO_SYNC=
