.DS_Store
**/.DS_Store
.idea
fabric/dev/config
fabric/dev/bin
fabric/dev/.fabric-setup
.lock
*.lock
fabric/dev/scripts/config.json
fabric/shared/chaincode/*
shared/charts/apikey
shared/charts/username
*.real.*
*.tar.gz
*.env
fabric/dev/log.txt

fabric/shared/*/ordererOrganizations
fabric/shared/*/peerOrganizations
fabric/shared/*/wallet/*
fabric/shared/*/system-genesis-block/*
fabric/shared/*/channel-artifacts
fabric/shared/*/fabric-ca/ordererOrg/*
fabric/shared/*/fabric-ca/org1/*
fabric/shared/*/fabric-ca/org2/*
