.DS_Store
**/.DS_Store
.idea
fabric/dev/config
fabric/dev/bin
fabric/dev/.fabric-setup
fabric/dev/install-fabric.sh
fabric/dev/builders
.lock
*.lock
fabric/dev/scripts/config.json
shared/charts/apikey
shared/charts/username
*.real.*
*.tar.gz
*.env
!base.env
!network1.env
!network2.env
fabric/dev/log.txt

fabric/shared/*/ordererOrganizations
fabric/shared/*/peerOrganizations
fabric/shared/*/wallet/*
fabric/shared/*/system-genesis-block/*
fabric/shared/*/channel-artifacts

!fabric/shared/*/system-genesis-block/.gitkeep
!fabric/shared/*/wallet/.gitkeep

fabric/shared/*/fabric-ca/ordererOrg/*
fabric/shared/*/fabric-ca/org1/*
fabric/shared/*/fabric-ca/org2/*

!fabric/shared/*/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
!fabric/shared/*/fabric-ca/org1/fabric-ca-server-config.yaml
!fabric/shared/*/fabric-ca/org2/fabric-ca-server-config.yaml


fabric/shared/chaincode/*
!fabric/shared/chaincode/.gitkeep