# Install or upgrade the recommonmark module
recommonmark

# Install the mSphinx theme
sphinx_rtd_theme

# Install the markdown required for tables
sphinx-markdown-tables

# Install the emojis pack
sphinxemoji

# Install MyST parser
myst-parser
