DEFAULT_CHANNEL=mychannel
DEFAULT_CHAINCODE=interop
MEMBER_CREDENTIAL_FOLDER=PATH-TO-CREDENTIAL-FOLDER
LOCAL=true
DEFAULT_APPLICATION_CHAINCODE=simplestate
DEFAULT_APPLICATION_FUNC=Create
CONFIG_PATH=PATH-TO-CONFIG-FILE
REMOTE_CONFIG_PATH=PATH-TO-REMOTE-CONFIG-FILE
CHAINCODE_PATH=PATH-TO-CHAINCODE-TX-CONFIG-FILE
