.home {
  font-weight: 700;
  margin: 5rem;
  font-size: 3rem;
  color: rgb(14, 87, 32);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home-icon {
  object-fit: cover;
  width: auto;
  overflow: hidden;
}

.home-scale {
  font-size: 2rem;
  width: 80%;
}
