<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClickBtnCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Bookshelf Details</ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="!isWalletConnected"
        (click)="connectWallet()"
        [disabled]="isLoading"
      >
        {{ isLoading ? 'Connecting...' : 'Connect Wallet' }}
      </ion-button>
      <ion-button *ngIf="isWalletConnected" disabled>
        Wallet Connected
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isWalletConnected" class="ion-padding ion-text-center">
    <h2>Wallet Authentication Required</h2>
    <p>Please connect your wallet to access and submit bookshelf data</p>
    <ion-button (click)="connectWallet()" [disabled]="isLoading">
      {{ isLoading ? 'Connecting...' : 'Connect Wallet' }}
    </ion-button>
  </div>

  <form *ngIf="isWalletConnected && form" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">ID</ion-label>
      <ion-input formControlName="id" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Shelf Count</ion-label>
      <ion-input formControlName="shelfCount" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bamboo Harvest</ion-label>
      <ion-select formControlName="bambooHarvestId">
        <ion-select-option *ngFor="let id of bambooHarvestIds" value="{{ id }}">
          {{ id }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-padding">
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!form.valid"
        (click)="onClickFormSubmit(form.value)"
      >
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>
