.details-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

.details-bytes-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.details-bytes {
    width: 30vw;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
}