name: Lint GitHub Actions workflows
on:
  workflow_call:

jobs:
  Lint_GitHub_Actions:
    runs-on: ubuntu-22.04
    steps:
    - name: git_clone
      uses: actions/checkout@v4.1.7

    # We need to wipe the root package.json file because the installation of actionlint fails otherwise like this:
    #
    # npm ERR! code ERESOLVE
    # npm ERR! ERESOLVE could not resolve
    # npm ERR! 
    # npm ERR! While resolving: react-scripts@5.0.1
    # npm ERR! Found: typescript@5.3.3
    # npm ERR! node_modules/typescript
    # npm ERR!   dev typescript@"5.3.3" from the root project
    # npm ERR!   peerOptional typescript@">=3.7.2" from tap@16.3.8
    # npm ERR!   node_modules/tap
    # npm ERR!     dev tap@"16.3.8" from the root project
    # npm ERR!   25 more (ts-jest, @hyperledger/cactus-plugin-satp-hermes, ...)
    # npm ERR! 
    # npm ERR! Could not resolve dependency:
    # npm ERR! peerOptional typescript@"^3.2.1 || ^4" from react-scripts@5.0.1
    # npm ERR! node_modules/react-scripts
    # npm ERR!   react-scripts@"5.0.1" from @hyperledger/cacti-example-cbdc-bridging-frontend
    # npm ERR!   examples/cactus-example-cbdc-bridging-frontend
    # npm ERR!     @hyperledger/cacti-example-cbdc-bridging-frontend
    # npm ERR!     node_modules/@hyperledger/cacti-example-cbdc-bridging-frontend
    # npm ERR!       workspace examples/cactus-example-cbdc-bridging-frontend from the root project
    # npm ERR! 
    # npm ERR! Conflicting peer dependency: typescript@4.9.5
    # npm ERR! node_modules/typescript
    # npm ERR!   peerOptional typescript@"^3.2.1 || ^4" from react-scripts@5.0.1
    # npm ERR!   node_modules/react-scripts
    # npm ERR!     react-scripts@"5.0.1" from @hyperledger/cacti-example-cbdc-bridging-frontend
    # npm ERR!     examples/cactus-example-cbdc-bridging-frontend
    # npm ERR!       @hyperledger/cacti-example-cbdc-bridging-frontend
    # npm ERR!       node_modules/@hyperledger/cacti-example-cbdc-bridging-frontend
    # npm ERR!         workspace examples/cactus-example-cbdc-bridging-frontend from the root project
    # npm ERR! 
    # npm ERR! Fix the upstream dependency conflict, or retry
    # npm ERR! this command with --force or --legacy-peer-deps
    # npm ERR! to accept an incorrect (and potentially broken) dependency resolution.
    - name: wipe_non_yaml_sources
      run: rm -rf packages/ examples/ extensions/ package.json weaver/

    # Shellcheck comlains that inside single quotes
    # the environment variables are not expanded, but that's exactly what we want here because
    # we are replacing environment variables inside the configuration file.
    # The only way we know how to ignore a file is to delete it...
    - name: wipe_files_with_false_positives
      run: rm .github/workflows/all-nodejs-packages-publish.yaml

    # We need to exclude these from the linting process for now because these files have 
    # hundreds of linter errors that we didn't yet have time to fix. Once the errors are fixed
    # we can add the files.
    - name: Set env.CACTI_ACTIONLINT_FILES_TO_LINT
      id: set_env_cacti_actionlint_files_to_lint
      run: |
          echo "CACTI_ACTIONLINT_FILES_TO_LINT=$(find .github/workflows/ -name "*.yml" -o -name "*.yaml" ! -name "*weaver*" -exec echo -n '{},' \;)" >> "$GITHUB_ENV"

    - name: Print env.CACTI_ACTIONLINT_FILES_TO_LINT
      id: print_env_cacti_actionlint_files_to_lint
      run: |
          echo "${{ env.CACTI_ACTIONLINT_FILES_TO_LINT }}" 

    - name: Print Line-byLine env.CACTI_ACTIONLINT_FILES_TO_LINT
      id: print_line_by_line_env_cacti_actionlint_files_to_lint
      run: |
          echo "${{ env.CACTI_ACTIONLINT_FILES_TO_LINT }}" | tr ',' '\n'

    - name: actionlint
      id: actionlint
      uses: raven-actions/actionlint@v2.0.0
      with:
        version: 1.7.1
        cache: true
        files: ${{ env.CACTI_ACTIONLINT_FILES_TO_LINT }}
        flags: '--verbose'

    - name: actionlint_summary
      if: ${{ steps.actionlint.outputs.exit-code != 0 }} # example usage, do echo only when actionlint action failed
      run: |
        echo "Used actionlint version ${{ steps.actionlint.outputs.version-semver }}"
        echo "Used actionlint release ${{ steps.actionlint.outputs.version-tag }}"
        echo "actionlint ended with ${{ steps.actionlint.outputs.exit-code }} exit code"
        echo "actionlint ended because '${{ steps.actionlint.outputs.exit-message }}'"
        echo "actionlint found ${{ steps.actionlint.outputs.total-errors }} errors"
        echo "actionlint checked ${{ steps.actionlint.outputs.total-files }} files"
        echo "actionlint cache used: ${{ steps.actionlint.outputs.cache-hit }}"
        echo "${{ steps.actionlint.outputs.exit-code }}" >&2
        exit 1
