name: all-nodejs-packages-publish

env:
  NODEJS_VERSION: v18.18.2

on:
  push:

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  build-and-publish-packages:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4.1.1
    - run: git fetch --unshallow --prune
    - uses: actions/setup-node@v4.0.2
      with:
        always-auth: true
        node-version: ${{ env.NODEJS_VERSION }}
        registry-url: 'https://registry.npmjs.org'
    - name: ./tools/ci.sh
      run: ./tools/ci.sh
      env:
        DEV_BUILD_DISABLED: false
        FULL_BUILD_DISABLED: false
        JEST_TEST_RUNNER_DISABLED: true
        TAPE_TEST_RUNNER_DISABLED: true
    - name: lerna-publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        git config --global user.email "npm-ci@hyperledger.org"
        git config --global user.name "hyperledger-ghci"
        npm whoami
        yarn lerna publish from-git --yes --loglevel=debug --ignore-scripts
