name: Cacti CI
on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev
  schedule:
    # Run at 8:00 AM UTC on weekends (Monday and Thursday)
    - cron: "0 8 * * 1,4" 

env:
  NODEJS_VERSION: v20.20.0
  RUN_TRIVY_SCAN: true
  RUN_CODE_COVERAGE: true
  NODE_OPTIONS: --max-old-space-size=8192

jobs:
  check-ci-skip:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7
      - name: Check CI Skip
        run: node tools/ci-skip-for-maintainers.js ${{ github.event.pull_request.url }} ${{ github.event.pull_request.user.login }}

  env-setup:
    outputs:
      node_version: ${{ steps.set-node-version.outputs.node_version }}
      run_code_coverage: ${{ steps.set-run-code-coverage.outputs.run_code_coverage }}
      run_trivy_scan: ${{ steps.set-run-trivy-scan.outputs.run_trivy_scan }}
    runs-on: ubuntu-22.04
    needs: [check-ci-skip]
    steps:
      - name: Set Node Version Output
        id: set-node-version
        run: echo "node_version=${{ env.NODEJS_VERSION }}" >> "$GITHUB_OUTPUT"
      - name: Set Run Code Coverage Output
        id: set-run-code-coverage
        run: echo "run_code_coverage=${{ env.RUN_CODE_COVERAGE }}" >> "$GITHUB_OUTPUT"
      - name: Set Run Trivy Scan Output
        id: set-run-trivy-scan
        run: echo "run_trivy_scan=${{ env.RUN_TRIVY_SCAN }}" >> "$GITHUB_OUTPUT"
      
  checks-and-build:
    needs: [env-setup]
    uses: ./.github/workflows/checks-and-build.yaml
    with:
      node_version: ${{ needs.env-setup.outputs.node_version }}
    
  code-quality-checks:
    needs: [checks-and-build, env-setup]
    uses: ./.github/workflows/code-quality-checks.yaml
    with:
      node_version: ${{ needs.env-setup.outputs.node_version }}
      
  packages-workflow:
    needs: [checks-and-build, code-quality-checks, env-setup]
    uses: ./.github/workflows/packages-workflow.yaml
    with:
      affected-packages: ${{ needs.checks-and-build.outputs.affected_packages }}
      node_version: ${{ needs.env-setup.outputs.node_version }}
      run_code_coverage: ${{ needs.env-setup.outputs.run_code_coverage }}
      run_trivy_scan: ${{ needs.env-setup.outputs.run_trivy_scan }}

  examples-workflow:
    needs: [checks-and-build, code-quality-checks, env-setup]
    uses: ./.github/workflows/examples-workflow.yaml
    with:
      affected-packages: ${{ needs.checks-and-build.outputs.affected_packages }}
      node_version: ${{ needs.env-setup.outputs.node_version }}
      run_code_coverage: ${{ needs.env-setup.outputs.run_code_coverage }}

  ghcr-workflow:
    needs: [checks-and-build, env-setup]
    uses: ./.github/workflows/ghcr-workflow.yaml
    with:
      node_version: ${{ needs.env-setup.outputs.node_version }}
      run_trivy_scan: ${{ needs.env-setup.outputs.run_trivy_scan }}
      affected-packages: ${{ needs.checks-and-build.outputs.affected_packages }}

