name: Run All Examples Workflows

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
      run_code_coverage:
        required: true
        type: string
      affected-packages:
        required: false
        type: string
  
concurrency:
  group: examples-workflows-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ce-carbon-accounting-backend:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-carbon-accounting-backend')}}
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: examples/cactus-example-carbon-accounting-backend/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/ce-carbon-accounting-backend
      TAPE_TEST_PATTERN: ./examples/cactus-example-carbon-accounting-backend/src/test/typescript/integration/admin-enroll-v1-endpoint.test.ts
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: ce-carbon-accounting-backend-report
      
      - name: Run Tape Tests
        uses: ./.github/actions/tape-runner/
        with:
          tape_test_pattern: ${{ env.TAPE_TEST_PATTERN }}
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-7
          path: ./code-coverage-ts/**/
      
  cactus-common-example-server:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-common-example-server')}}
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: examples/cactus-common-example-server/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cactus-common-example-server
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cactus-common-example-server-report
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-3
          path: ./code-coverage-ts/**/

  ce-carbon-accounting-business-logic-plugin:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-carbon-accounting-business-logic-plugin')}}
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: examples/cactus-example-carbon-accounting-business-logic-plugin/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/ce-carbon-accounting-business-logic-plugin
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: ce-carbon-accounting-business-logic-plugin-report
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-8
          path: ./code-coverage-ts/**/
  
  ce-carbon-accounting-frontend:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-carbon-accounting-frontend')}}
    continue-on-error: false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-9
          path: ./code-coverage-ts/**/

  ce-supply-chain-backend:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-supply-chain-backend')}}
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: examples/cactus-example-supply-chain-backend/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/ce-supply-chain-backend
      TAPE_TEST_PATTERN: '--files={./examples/cactus-example-supply-chain-backend/src/test/typescript/integration/supply-chain-backend-api-calls.test.ts,./examples/cactus-example-supply-chain-backend/src/test/typescript/integration/supply-chain-cli-via-npm-script.test.ts}'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: CI environment clean-up
        run: ./tools/ci-env-clean-up.sh

      - uses: ./.github/actions/docker-pull/
        with:
          image: ghcr.io/hyperledger-cacti/cactus-fabric2-all-in-one:v2.1.0

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: ce-supply-chain-backend-report
      
      - name: Run Tape Tests
        uses: ./.github/actions/tape-runner/
        with:
          tape_test_pattern: ${{ env.TAPE_TEST_PATTERN }}
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-10
          path: ./code-coverage-ts/**/
  
  ce-supply-chain-business-logic-plugin:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-supply-chain-business-logic-plugin')}}
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: examples/cactus-example-supply-chain-business-logic-plugin/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/ce-supply-chain-business-logic-plugin
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: ce-supply-chain-business-logic-plugin-report
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-11
          path: ./code-coverage-ts/**/

  ce-supply-chain-frontend:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-supply-chain-frontend')}}
    continue-on-error: false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-12
          path: ./code-coverage-ts/**/

  ce-cbdc-bridging:
    if: ${{ contains(fromJson(inputs.affected-packages), 'examples/cactus-example-cbdc-bridging-backend')}}
    continue-on-error: false
    runs-on: ubuntu-22.04
    env:
      JEST_TEST_PATTERN: examples/cactus-example-cbdc-bridging-backend/src/test/typescript/(unit|integration)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/ce-cdbc-bridging
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: CI environment clean-up
        run: ./tools/ci-env-clean-up.sh
      
      - uses: ./.github/actions/docker-pull/
        with:
          image: ghcr.io/hyperledger/cactus-besu-all-in-one:2024-06-09-cc2f9c5

      - uses: ./.github/actions/docker-pull/
        with:
          image: ghcr.io/hyperledger-cacti/cactus-fabric2-all-in-one:v2.1.0
      
      - uses: ./.github/actions/docker-pull/
        with:
          # TODO Replace with official image when available
          image: kubaya/cacti-satp-hermes-gateway:5f190f37f-2025-08-19

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/
      
      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: "ce-cdbc-bridging-integration-tests-report"

      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-ce-cdbc-bridging
          path: ./code-coverage-ts/**/

