name: Run Keychain Pacakges workflows

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
      run_code_coverage:
        required: true
        type: string
      run_trivy_scan:
        required: true
        type: string
      affected-packages:
        required: false
        type: string
  
concurrency:
  group: keychain-packages-workflows-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cpk-google-sm:
    if: contains(fromJson(inputs.affected-packages), 'packages/cactus-plugin-keychain-google-sm')
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: packages/cactus-plugin-keychain-google-sm/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cpk-google-sm
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cpk-google-sm-report
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-19
          path: ./code-coverage-ts/**/

  cpk-memory:
    if: contains(fromJson(inputs.affected-packages), 'packages/cactus-plugin-keychain-memory')
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: packages/cactus-plugin-keychain-memory/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cpk-memory
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cpk-memory-report
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-20
          path: ./code-coverage-ts/**/

  cpk-memory-wasm:
    if: contains(fromJson(inputs.affected-packages), 'packages/cactus-plugin-keychain-memory-wasm')
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: packages/cactus-plugin-keychain-memory-wasm/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cpk-memory-wasm
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cpk-memory-wasm-report
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-21
          path: ./code-coverage-ts/**/
  
  cpk-vault:
    if: contains(fromJson(inputs.affected-packages), 'packages/cactus-plugin-keychain-vault')
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: packages/cactus-plugin-keychain-vault/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cpk-vault
      TAPE_TEST_PATTERN: '--files={./packages/cactus-plugin-keychain-vault/src/test/typescript/integration/cactus-keychain-vault-server.test.ts,./packages/cactus-plugin-keychain-vault/src/test/typescript/integration/openapi/openapi-validation.test.ts,./packages/cactus-plugin-keychain-vault/src/test/typescript/integration/plugin-keychain-vault.test.ts}'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cpk-vault-report
      
      - name: Run Tape Tests
        uses: ./.github/actions/tape-runner/
        with:
          tape_test_pattern: ${{ env.TAPE_TEST_PATTERN }}
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-22
          path: ./code-coverage-ts/**/

  cpk-aws-sm:
    if: contains(fromJson(inputs.affected-packages), 'packages/cactus-plugin-keychain-aws-sm')
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: packages/cactus-plugin-keychain-aws-sm/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cp-keychain-aws-sm
      TAPE_TEST_PATTERN: '--files={./packages/cactus-plugin-keychain-aws-sm/src/test/typescript/integration/plugin-factory-keychain.test.ts,./packages/cactus-plugin-keychain-aws-sm/src/test/typescript/integration/plugin-factory-keychain.test.ts}'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cp-keychain-aws-sm-report
      
      - name: Run Tape Tests
        uses: ./.github/actions/tape-runner/
        with:
          tape_test_pattern: ${{ env.TAPE_TEST_PATTERN }}
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-17
          path: ./code-coverage-ts/**/

  cpk-azure-kv:
    if: contains(fromJson(inputs.affected-packages), 'packages/cactus-plugin-keychain-azure-kv')
    continue-on-error: false
    env:
      JEST_TEST_PATTERN: packages/cactus-plugin-keychain-azure-kv/src/test/typescript/(unit|integration|benchmark)/.*/*.test.ts
      JEST_TEST_COVERAGE_PATH: ./code-coverage-ts/cp-keychain-azure-kv
      TAPE_TEST_PATTERN: ./packages/cactus-plugin-keychain-azure-kv/src/test/typescript/integration/plugin-keychain-azure-kv.test.ts
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7

      - name: build
        with:
          node_version: ${{ inputs.node_version }}
          yarn_hardened_mode: '0'         
        uses: ./.github/actions/configure-repo/

      - name: Run Jest Tests
        uses: ./.github/actions/jest-runner/
        with:
          run_code_coverage: ${{ inputs.run_code_coverage }}
          jest_test_pattern: ${{ env.JEST_TEST_PATTERN }}
          jest_test_coverage_path: ${{ env.JEST_TEST_COVERAGE_PATH }}
          github_secret: ${{ secrets.GITHUB_TOKEN }}
          report_name: cp-keychain-azure-kv-report
      
      - name: Run Tape Tests
        uses: ./.github/actions/tape-runner/
        with:
          tape_test_pattern: ${{ env.TAPE_TEST_PATTERN }}
        
      - name: Upload coverage reports as artifacts
        if: ${{ inputs.run_code_coverage == 'true' }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        with:
          name: coverage-reports-18
          path: ./code-coverage-ts/**/
     

