---
name: PR - Commit Parity
on: [pull_request]

jobs:
  pr-commit-parity:
    if: false  # disables this job entirely
    name: PR and Commit messages Parity
    runs-on: ubuntu-22.04
    #if: "!contains('dependabot[bot]', github.event.pull_request.user.login)"
    env:
      ACCEPTABLE_SIMILARITY_RATIO: 0.9
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3.1.0
    - name: Execute pr-commit-parity script
      run: node tools/pr-commit-parity.js ${{ github.event.pull_request.url }} "$ACCEPTABLE_SIMILARITY_RATIO"
