name: publish-npm-manually

env:
  NODEJS_VERSION: v20.20.0

on:
  workflow_dispatch:
    inputs:
      tag-pub:
        type: string
        description: Tag to publish
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  build-and-publish-packages:
    runs-on: ubuntu-22.04
    permissions: 
      id-token: write
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7
      with:
        ref: ${{ inputs.tag-pub }}
    - run: git fetch --unshallow --prune
    - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b #v4.0.3
      with:
        always-auth: true
        node-version: ${{ env.NODEJS_VERSION }}
        registry-url: 'https://registry.npmjs.org/'
    - name: ./tools/ci.sh
      run: ./tools/ci.sh
      env:
        DEV_BUILD_DISABLED: false
        FULL_BUILD_DISABLED: false
        JEST_TEST_RUNNER_DISABLED: true
        TAPE_TEST_RUNNER_DISABLED: true
    - name: lerna-publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        NPM_CONFIG_PROVENANCE: true
      run: |
        npm whoami
        yarn lerna publish from-git --yes --loglevel=debug
