# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: CC-BY-4.0

name: Test All Docker Images Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_docker_relay:
    # if: ${{ false }}
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
          
      - name: Build Image
        run: make build-server-local
        working-directory: weaver/core/relay
        
  build_docker_fabric_driver_local:
    # if: ${{ false }}
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 14.x
          
      - name: Use Protoc 3.15
        run: |
          curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v3.15.6/protoc-3.15.6-linux-x86_64.zip
          unzip protoc-3.15.6-linux-x86_64.zip -d protoc
          
      - name: Build JS Protos (Local)
        run: |
          export PATH="$PATH:${GITHUB_WORKSPACE}/protoc/bin"
          make build
        working-directory: weaver/common/protos-js
        
      - name: Build Fabric Interop Node SDK (Local)
        run: make build-local
        working-directory: weaver/sdks/fabric/interoperation-node-sdk
        
      - name: Build Image (Local)
        run: make build-image-local
        working-directory: weaver/core/drivers/fabric-driver
        
  build_docker_fabric_driver_packages:
    if: ${{ false }}
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup .npmrc
        run: |
          cp .npmrc.template .npmrc
          sed -i "s/<personal-access-token>/${{ secrets.GITHUB_TOKEN }}/g" .npmrc
          cat .npmrc
        working-directory: weaver/core/drivers/fabric-driver
        
      - name: Build Image
        run: make build-image
        working-directory: weaver/core/drivers/fabric-driver
        
  build_docker_corda_driver_local:
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
            
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          
      - name: Build Protos (Local)
        run: make build
        working-directory: weaver/common/protos-java-kt
        
      - name: Build Corda Interop App (Local)
        run: make build-local
        working-directory: weaver/core/network/corda-interop-app
        
      - name: Build Corda Interop SDK (Local)
        run: make build
        working-directory: weaver/sdks/corda
        
      - name: Build Image (Local)
        run: make image-local
        working-directory: weaver/core/drivers/corda-driver
          
  build_docker_corda_driver_packages:
    if: ${{ false }}
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Generate github.properties
        run: |
          echo "Using ${GITHUB_ACTOR} user."
          echo "username=${GITHUB_ACTOR}" >> github.properties
          echo "password=${{ secrets.GITHUB_TOKEN }}" >> github.properties
          echo "url=https://maven.pkg.github.com/${GITHUB_ACTOR}/weaver-dlt-interoperability" >> github.properties
          
          echo "Using ${GITHUB_ACTOR} user."
          echo "username=${GITHUB_ACTOR}" >> github.main.properties
          echo "password=${{ secrets.GITHUB_TOKEN }}" >> github.main.properties
          echo "url=https://maven.pkg.github.com/hyperledger-labs/weaver-dlt-interoperability" >> github.main.properties
          
          make build || mv github.main.properties github.properties
          make clean
          
          cat github.properties
        working-directory: weaver/core/drivers/corda-driver
        
      - name: Build Image
        run: make image
        working-directory: weaver/core/drivers/corda-driver

  build_docker_iin_agent_local:
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 14.x
          
      - name: Use Protoc 3.15
        run: |
          curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v3.15.6/protoc-3.15.6-linux-x86_64.zip
          unzip protoc-3.15.6-linux-x86_64.zip -d protoc
          
      - name: Build JS Protos (Local)
        run: |
          export PATH="$PATH:${GITHUB_WORKSPACE}/protoc/bin"
          make build
        working-directory: weaver/common/protos-js
        
      - name: Build Fabric Interop Node SDK (Local)
        run: make build-local
        working-directory: weaver/sdks/fabric/interoperation-node-sdk
        
      - name: Build Image
        run: make build-image-local
        working-directory: weaver/core/identity-management/iin-agent
