# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: CC-BY-4.0

# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Unit Test Corda Interop App

on:
  workflow_call:
    inputs:
      run_all:
        required: true
        type: string
    

concurrency:
  group: corda-interop-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check_code_changed:
    outputs:
      interop_cordapp_changed: ${{ steps.changes.outputs.interop_cordapp_changed }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: dorny/paths-filter@v2.11.1
        id: changes
        with:
          filters: |
            interop_cordapp_changed:
              - './weaver/common/protos-java-kt/**'
              - './weaver/core/network/corda-interop-app/**'
              - '.github/workflows/test_weaver-corda-interop-app.yaml'

  unit_test_interop_cordapp:
    needs: check_code_changed
    if:  inputs.run_all == 'true' || needs.check_code_changed.outputs.interop_cordapp_changed == 'true'
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4.1.7

    - name: Set up JDK 17
      uses: actions/setup-java@v3.11.0
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build Protos (Local)
      run: make build
      working-directory: weaver/common/protos-java-kt

    - name: Build Corda Interop App (Local)
      run: make build-local
      working-directory: weaver/core/network/corda-interop-app

    - name: Run Tests (Local)
      run: make test
      working-directory: weaver/core/network/corda-interop-app
