# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: CC-BY-4.0

# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Unit Test Corda Interop App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit_test_interop_cordapp:
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        
    - name: Build Protos (Local)
      run: make build
      working-directory: weaver/common/protos-java-kt
      
    - name: Build Corda Interop App (Local)
      run: make build-local
      working-directory: weaver/core/network/corda-interop-app
      
    - name: Run Tests (Local)
      run: make test
      working-directory: weaver/core/network/corda-interop-app
